bleach==3.0.2
cachetools==2.1.0
certifi==2018.8.24
defusedxml==0.5.0
Django==2.1.5
entrypoints==0.2.3
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
gunicorn==19.9.0
ipykernel==5.1.0
ipywidgets==7.4.2
Jinja2==2.10
jsonschema==2.6.0
mistune==0.8.4
oauthlib==2.1.0
pandocfilters==1.4.2
pipenv==2018.10.9
prometheus-client==0.4.2
prompt-toolkit==2.0.7
psycopg2==2.7.6.1
ptyprocess==0.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
python-dateutil==2.7.5
pytz==2018.9
pyzmq==17.1.2
requests-oauthlib==1.0.0
rsa==4.0
Send2Trash==1.5.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
uritemplate==3.0.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
webencodings==0.5.1
widgetsnbextension==3.4.2
